{% extends 'layout.html.twig' %}

{% block content %}
    <div class="ui masthead vertical segment">
        <div class="ui fluid container">
            <div class="introduction">
                <h2>Documentation</h2>
            </div>
        </div>
    </div>

    {% set node = project.namespace %}

    {{
    include(
        'components/table-of-contents.html.twig',
        {
            'node': project.namespace,
            'namespaces': usesNamespaces or not usesPackages ? node.children : [],
            'packages': usesPackages ? project.package.children : []
        }
    )
    }}
    {{ include('components/constants.html.twig', {'node': project.namespace}) }}
    {{ include('components/functions.html.twig', {'node': project.namespace}) }}
{% endblock %}
