{% set constants = constants(node)|sortByVisibility %}

{% if constants is not empty %}
    <h3>
        Constants
        <a href="{{ link(node) }}#constants" class="headerlink"><i class="fas fa-link"></i></a>
    </h3>
    {% for constant in constants %}
        {% include 'components/constant.html.twig' %}
    {% endfor %}
{% endif %}
